.footer{
	padding-left: 118px;
	padding-right:118px; 
	height: 236px;
	background-color: #ffffff;
}
.iconfont{
	margin-right: 14px;
}
.footer-t{
	float: left;
	margin-left: 118px;
	margin-top: 36px;
	line-height: 32px;
	height: 32px;
	margin-bottom: 22px;
}
.footer-sevice{
	float: left;
	margin-left: 36px;
	margin-top: 36px;
	line-height: 32px;
	height: 32px;
}
.footer-l{
	float: left;
	margin-left: 118px;
}
.footer-r{
	margin-top: 36px;
	float: right;
	margin-right: 118px;
}

#service-online {
    display: inline-block;
    height: 20px;
    line-height: 18px;
    width: 64px;
    color: white;
    background-color: #32a5e7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
}