.header{
	height: 68PX;
	}
.container{
	width: 1242px;
	margin: 0 auto;
}
.logo{
	width: 108px;
	height:19px;
	background:url(../images/login/base.png) no-repeat -4px -4px;
	float: left;
	margin-top: 28px;
}	
.logo a{
	display: block;
	width: 108px;
	height:19px;
	text-indent: -9999px;
}
.banner_wrap{
	height: 750px;
	background-color: #edfafc;
}
.login_banner{
	position: relative;
	height: 750px;
	background: url(../images/login/denglu_01.jpg) no-repeat center;
}
.zc_banner{
	position: relative;
	height: 750px;
	background: url(../images/login/zhuce_03.jpg) no-repeat center;
}
.login{
	padding: 0 34px 0 34px;
	position: absolute;
	height: 318px;
	width: 370px;
	background-color: #ffffff;
	right: 86px;
	top: 119px;
	text-align: center;
	box-sizing: border-box;
}
.zhuce{
	padding: 0 34px 0 34px;
	position: absolute;
	height: 518px;
	width: 370px;
	background-color: #ffffff;
	right:86px;
	top: 119px;
	text-align: center;
	box-sizing: border-box;
}
.login h1{
	margin-top: 74px;
	margin-bottom: 46px;	
}
.zhuce h1{
	margin-top: 76px;
	margin-bottom: 102px;	
}
.login a,.zhuce a  {
	font-size: 11px;
}
.login h1 a{
	color: #515151;	
	font-size: 16px;
	font-weight: 900;
}
.zhuce h1 a{
	color: #387aff;
	font-size: 16px;
	font-weight: 900;
}
.login .txt,.zhuce .txt{
	height: 46px;
	width: 300px;
	border: 1px #dadada solid;
	color:#c3c3c3;
	font-size: 12px;
	margin-bottom: 36px;
}
.btn{
	margin-bottom: 30px;
	height: 42px;
	width: 300px;
	background-color: #f6f6f6;
	border: 1px #cccccc solid;
}
#btn_login{
	height: 46px;
	width: 300px;
	background-color:#387aff;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 900;
	border: none;
	margin-bottom: 15px;
}
#btn_zc{
	height: 46px;
	width: 300px;
	background-color:#387aff;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 900;
	border: none;
	margin-bottom: 24px;
}
.login_btn{
	color: #387aff;
	float: left;
}
.paserward{
	color: #387aff;
	float: right;
}