.container{
	width: 1932px;
	margin: 0 auto;
}
/* banner部分 */
.banner_wrap{
	height:450px;	
}
.banner{
	height:450px;
	background:url(../images/login/banner1.jpg) no-repeat center top;
}
.banner a{
	display:block;
	height:100%;	
}
/* 耳机列表部分 */
.case_wrap{
    height: 1260px;
	background: #f4f4f4;
}
.case{
	text-align: center;
	height:1260px;
	text-align: center;
}
.case1{
	height: 878px;
}
.case_wrap1{
	height: 878px;
}
.case .nav{
	padding-left: 346px;
	padding-top: 9px;
	height:375px;
	width: 1249px;
	/* display: flex;
	justify-content: space-between; */
}
.case .nav li{
	position: relative;
	float: left;
	width: 303px;
	height: 375px;
	margin-right: 9px;
    background-color:#ffffff; 
}	
.case .nav li	a{
	width: 303px;
	display: block;
	height: 375px;
}
.case .nav li	a img{
	margin-top: 44px;
	margin-left: 62px;
	width: 156px;
	display: block;
	height: 194px;
	line-height: 40px;
}
.case .nav li	a .img1{
	margin-top:0;
	margin-left: 0;
	width: 303px;
	display: block;
	height: 375px;
	line-height: 40px;
}	
.box{
	display: block;
	position: absolute;
	width: 303px;
	height: 108px;
	top:270px;
	left: 0;
	text-align: center;
}
.goods-name{
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;	
}
.goods-desc{
	color: #ffffff;
	font-size: 12px;
}
.goods-price s{
	color: #ffffff;
}
.goodname{
	color: black;
}
.goodname s{
	color: black;
}
.case h3{
	margin-top: 56px;
	font-size: 30px;
	font-weight: 900;
}
.banner1{
	height:450px;
	background:url(../images/login/banner2.jpg) no-repeat center top;
}
.banner2{
	height:450px;
	background:url(../images/login/banner03.jpg) no-repeat center top;
}