/* 头部 */
#header{
    height:670px;
    position: relative;
    /* height:80px; */
    border-bottom: 1px solid #efefef;
}
.container{
    width:1240px;
    margin:0 auto;
}
/* 导航 */
.header_wrap{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    z-index: 20;
    height:80px; 
    /* background: #fff; */
}

.header_inner{
    position: absolute;
    top:0;
    left: 50%;
    transform:translateX(-50%);
    height: 80px;
    z-index: 20;
    /* background: #fff; */
}
.logo{
	width: 125px;
	height: 24px;
    background:url(../images/logo_on.png) no-repeat; 
    background-size: 100% 100%;
	float: left;
    margin: 28px 0;
    /* fill: #fff; */
}
.logo a{
	display: block;
	height: 24px;
	width: 125px;
	text-indent: -9999px;
}
/* 导航 */
.nav{
    float: left;
    margin-left: 186px;
}
.nav ul li{
    float: left;
    line-height: 80px;
}
.nav ul li a{
    margin:0 20px;
    color:white;
    /* color:#515151; */
}
.nav ul li a:hover{
    color:#00beff;
}
.r_header{
    float: left;
    margin-left: 19px;
}
/* 二级导航 */
.sub_nav{
    display: block;
    position: absolute; 
    top:80px;
    left: 0;
    z-index: 20;
    background-color: #fff;
    width: 100%;
}
.sub_wrap ul{
    padding: 5px 0 20px;
    margin: 0;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
} 
.sub_wrap ul li{
    float: left;
    color:#333;
    padding:5px 5px 20px;
    width:142px;
    height: 140px;
    text-align: center;
}
.sub_wrap ul li a{
    width:142px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    position: relative;
    z-index: 20;
}
.sub_wrap ul li a i{
    display: block;
    width:120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 120px;
}
.sub_wrap ul li a span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .0;
    /* opacity: .5; */
    background-color: #fff;
    z-index: 21;
}
.sub_wrap ul li a em{
    display: block;
}
/* 二级菜单app下载 */
.app_wrap{
    position: relative;
    padding:10px 0;
}
.app_wrap img{
    display: block;
    width:100%;
}
.app_wrap .app_down_link{
    position: absolute;
    width:125px;
    height: 28px;
}
.app_wrap .link1{
    left:375px;
    top: 217px;
}
.app_wrap .link2{
    right:117px;
    top: 217px;
}
.app_wrap a img{
    display: block;
    height: auto;
    width: 100%;
}
/*搜索*/
.search{
    float: left;
    width:170px;
    height: 30px;
    margin-top: 26px;
    position: relative;
}
.inp{
    width:170px;
    height: 30px;
    border-radius: 14px;
    border:0;
    padding-left:15px;
    box-sizing: border-box;   
    color:#4c4c4c;
}
input::-webkit-input-placeholder{
    color:#c6c9c2;
}
.btn{
    position: absolute;
    display: inline-block;
    width:17px;
    height: 13px;
    top:9px;
    right:7px;
    background:url(../images/index/search.jpg) no-repeat ;
    background-size: 100% 100%;
    border:0;
}
.r_header a{
    margin-top: 26px;
    float: left;
    display: block;
    width:30px;
    height: 30px;
}

.login{
    margin-left: 14px;
    background:url(../images/index/login.png) no-repeat ;
}
.shop_car{
    margin-left: 6px;
    background:url(../images/index/shop_car.png) no-repeat ;
}
/* 轮播图 */
.swiper_banner,.swiper_banner li{
    width: 100%; 
    height:670px;
    overflow: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    opacity:1;
} 

.swiper_banner li a{ 
    display: block;
    width: 100%; 
    position: absolute; 
    height: 100%; 
    top: 0; 
}

/* 小圆点 */
.dot_div{ 
    position: absolute; 
    bottom:32px; 
    width: 100%; 
    text-align: center; 
    left: 0; 
    z-index: 30;
    line-height: 16px;
}
.dot_div span{ 
    display: inline-block;
    width: 8px; 
    height: 8px; 
    background: #fff; 
    margin: 5px 8px; 
    border-radius: 50%;
}
 .dot_div span.on{ 
    width: 10px; 
    height: 10px; 
    margin: 3px 6px; 
    border-radius: 50%;
    border:1px solid #fff;
    background: transparent;
} 

/* 主体部分 */
.index-main {
    background: #f4f4f4;
}
.adv-wrapper{
    height: 281px;
    background: #ffffff;
}
.adv{
    height: 281px;
    background: #ffffff;
}
.adv ul{
    width: 1240px;
    height: 235px;
}
.adv li{
    float: left;
    margin-left: 100px;
    margin-top: 45px;
}
.adv img{
    height: 130px;
    width: 190px;
}
.adv em{
    display: block;
    color: #333;
    font-size: 20px;
    text-align: center;
}
.adv p{
    font-size: 14px;
    color: #999;
    text-align: center;
}
/* 魅族手机 */
.mz-h h3{
    padding-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;  
    color: #596073;
}
.mz-phone-banner a{
    display: block;
    height: 100%;
    width: 100%;
}
.mz-phone-banner a img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.mz-phone-banner a img:hover{
    background:white;
    opacity: 0.7;
}
.section-box-row{
    min-height: 1382px;
}
.section-box-row ul li{
    float: left;
    margin:3px 2px;
    overflow: hidden;
}
.section-box-row ul li:hover{
    box-shadow:2px 4px 10px #b5b5b5;
}
.big-box01{
    display: block;
    width: 615px;
    height: 610px;
    background: #ffffff;
    position: relative;
}
.big-box01 .goods-name{
    display: block;
    text-align: center;
    color: #333;
    font-size: 28px;
    padding-top: 60px;
}
.big-box01 .goods-desc{
    display: block;
    text-align: center;
    color: #333;
    font-size: 18px;
}
.big-box01 .goods-price{
    display:block;
    text-align: center;
    color: #c00;
    font-size: 22px;
}
.big-box01 .product-sign{
    display: block;
    position: absolute;
    top:30px;
    left: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-image: linear-gradient(120deg,#ff910e,#ffd037);
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
/* .product-sign.red{
    background-image: linear-gradient(120deg,#ff3149,#ff64a6);
}  */
.big-box01 img{
    position: absolute;
    left: 60px;
    display: block;
    width: 460px;
    height: 460px;
    margin-top: -20px;
}
.section-box-small .phone01{
    display: block;
    width: 300px;
    height: 375px;
    background: #ffffff;
    position: relative;
}
.section-box-small ul li{
    float: left;
    margin:5px 5px;
    overflow: hidden;
}
.section-box-small ul li:hover{
    box-shadow:0px 4px 10px #b5b5b5;
}
.phone01 img{
    position: absolute;
    left: 30px;
    display: block;
    width: 230px;
    height: 230px;
    margin-top: 50px;
}
.phone01 .sm-name{
    display: block;
    color: #333;
    font-size: 16px;
    margin-top: 280px;
    text-align: center;
}
.phone01 .sm-desc{
    display: block;
    color: #999;
    font-size: 14px;
    text-align: center;
}
.phone01 .sm-price{
    display:block;
    text-align: center;
    color: #c00;
    font-size: 22px;
}
.phone01 .sm-sign{
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-image: linear-gradient(120deg,#2e74f6,#56bdf9);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
}
/* 魅族声学 */
.sx-h{
    padding-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;  
    color: #596073;
}
.mz-sx-banner a{
    display: block;
    height: 100%;
    width: 100%;
}
.mz-sx-banner a img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.mz-sx-banner a img:hover{
    background:white;
    opacity: 0.7;
}
.sx-box-row{
    min-height: 1160px;
}
.sx-box-row ul .sx-box{
    float: left;
    margin: 3px 3px;
}
.sx-box-row ul .sx-box:hover{
    box-shadow:2px 4px 10px #b5b5b5;
}
.sx-box{
    display: block;
    position: relative;
    width: 300px;
	height: 375px;
    background-color:#ffffff; 
}
.sx-box .img1{
    margin-top:0;
	margin-left: 0;
	width: 303px;
	display: block;
	height: 375px;
	line-height: 40px;

}
.box{
	display: block;
	position: absolute;
	width: 303px;
	height: 108px;
	top:270px;
	left: 0;
	text-align: center;
}
.goods-name{
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;	
}
.goods-desc{
	color: #ffffff;
	font-size: 12px;
}
.goods-price i{
    font-size: 24px;
    font-weight: 700;
}
.goods-price s{
    color: #ffffff;
}
.goodname{
	color: black;
}
.goodname s{
	color: black;
}
.sx-box .img{
    padding-top: 44px;
	margin-left: 62px;
	width: 156px;
	display: block;
	height: 194px;
}
.box .goodname{
    color: #333;
    font-size: 16px;
} 
.box .good-desc{
    color: #999;
    font-size: 14px;
}
/* 魅族声学 智能配件  魅族周边  */
/* 社区热帖 */
.sq-post h3{
    padding-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;  
    color: #596073;
}
.sq-comment-post{
    min-height: 785px;
}
.sq-comment-post ul li{
    float: left;
    margin: 5px 5px;
}
.sq-comment-post ul li:hover{
    box-shadow:0px 4px 10px #b5b5b5;
}
.sq-comment-post .sq-box{
    display: block;
    width: 300px;
    height: 386px;
    background: #ffffff;
}
.commet-img-wp img{
    display: block;
    width: 300px;
    height: 189px;
}
.comment-user-info{
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
    padding: 0 15px;
}
.comment-username{
    display: inline-block;
    margin-left: 15px;
    text-align: left;
    overflow: hidden;
}
.sq-box p{
    display: block;
    height: 27px;
    line-height: 27px;
    margin-top: 20px;
    padding-left: 15px;
    color: #515151;
}
.comment-tip{
    display: block;
    margin-top: 50px;
    padding-left: 15px;
    color: #9f9a97;
}
/* flyme */
.flyme-title{
    padding-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;  
    color: #596073;
}
.fl-content{
    min-height: 510px;
}
.fl-content ul li{
    float: left;
    margin: 3px 3px;
}
.fl-content ul li:hover{
    box-shadow:0px 4px 10px #b5b5b5;
}
.fl-content .fl-big{
    display: block;
    width: 615px;
    height: 244px;
}
.fl-big img{
    display: block;
    width: 615px;
    height: 244px;
}
.fl-content .fl-small{
    display: block;
    width: 303px;
    height: 244px;
}
.fl-small img{
    display: block;
    width: 303px;
    height: 189px;
}
.fl-small span{
    display: block;
    background: #ffffff;
    width: 303px;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    color: #515151;
    text-align: center;
}
/* 精彩视频 */
.video-title{
    padding-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;  
    color: #596073;
}
.video-content{
    min-height: 510px;
}
.video-content ul li{
    float: left;
    margin: 3px 3px;
}
.video-content ul li:hover{
    box-shadow:0px 4px 10px #b5b5b5;
}
.video-box{
    display: block;
    width: 303px;
    height: 244px;
}
.video-box img{
    display: block;
    width: 303px;
    height: 189px;
}
.video-box span{
    display: block;
    background: #ffffff;
    width: 303px;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    color: #515151;
    text-align: center;
}
/* 版权信息 */
.copy-wrapper{
    height: 245px;
    background: #ffffff;
}
.copy{
    height: 245px;
    background: #ffffff;
}
.copy-up{
    height: 142px;
    border-bottom: 1px solid #ededed;
}
.copy-up ul{
    padding-left: 40px;
}
.copy-up ul li{
    float: left;
}
.c-box{
    display: block;
    position: relative;
    padding-top: 50px;
    width: 150px;
    height: 69px;
}
.c-box img{
    position: absolute;
    left: 50px;
    width: 50px;
    height: 39px;
}
.c-box span{
    display: block;
    color: #999;
    margin-top: 50px;
    text-align: center;
}
.up-r{
    display: block;
    float: right;
    padding-top: 30px;
    position: relative;
    height: 100px;
}
.up-r .time{
    display: block;
    color: #999;
    text-align: right;
    font-size: 12px;
}
.up-r .tel{
    display: block;
    color: #00c3f5;
    font-size: 25px;
    margin: 10px 0;
}
.up-r a{
    display: inline-block;
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    font-size: 14px;
    background: #0bbbef;
}

.copy-top ul{
    margin-top: 30px;
}
.copy-top ul li{
    float: left;
}
.copy-top ul li a{
    font-size: 12px;
    color: #999;
}
.copy-top ul li i{
    font-size: 16px;
    color: #999;
    margin: 0 15px;
}
.chinese img{
    width: 16px;
    height: 16px;
}
.top-x-l p{
    float: left;
    width: 1000px;
    margin-top: 20px;
    color: #999;
}
.top-x-l p a{
    margin: 0 8px;
    color: #999;
}
.top-x-r{
    float: right;
    margin-top: -20px;
}
.top-x-r img{
    width: 21px;
    height: 18px;
    margin: 0 10px;
}