/* 头部搜索列表 */
.mz-menu{
	display: none;
	width: 170px;
	height: 200px;
	border: 1px solid #d9d9d9;
}
.menu-item{
	height: 25px;
    padding: 0 15px;
    overflow: hidden;
	line-height: 25px;
	box-sizing: border-box;
}
.menu-name{
	margin-right: 30px;
}
.menu-item:hover{
	background: #999;
}
/*产品名称*/
#category{
	height: 69px;
	border-bottom: 1px solid #efefef;
	background: #f6f8fb;
}
.cate_inner h2{
	font-size: 24px;
	color:#000000;
	float: left;
	line-height: 69px;
}
.cate_problem{
	float: right;
	font-size: 15px;
	color:#333333;
	line-height: 69px;
	margin-right: 6px;
}
.cate_problem span{
	display: inline-block;
	width:1px;
	height: 20px;
	background: #dedede;
	margin:0px 18px;
}
/*产品信息*/
#goods{
	min-height:790px;
}
.pro_inner{
	height:auto;
	padding-top: 4px;
	box-sizing: border-box;
}
/*产品信息左边*/
.pro_left{
	float: left;
}
.pro_left .show_img{
	width:560px;
	height: 560px;
}
.show_img img{
	width:100%;
	height: 100%;
}
.img_list li{
	float: left;
	margin-top: 10px;
	margin-left: 48px;
}
.img_list li a{
	display: block;
}
.img_list li img{
	width:80px;
	height: 80px;
}
/*产品信息右边*/
.pro_right{
	width:680px;
	float: left;
	padding-left: 40px;
	/*border:1px solid #000;*/
	box-sizing: border-box;
}
.buy_top{
	margin-top: 42px;
	margin-bottom: 12px;
}
.buy_top h3{
	font-weight: bold;
	color:#262626;
	font-size:28px;
	margin-bottom: 4px;
}
.buy_top p{
	color:#e22841;
}
.buy_bottom{
	margin-top: 4px;	
}
.indent{
	margin-left: 10px;
}
/*春节不打烊*/
.buy_bottom .notice{
	height: 42px;
	color:#fff;
	background:url(../images/product/notice_bg.png) no-repeat 100% 100%;
}
.name{
	float: left;
	font-size: 16px;
	line-height: 42px;
}
.countdown{
	margin-left:400px;
	padding-top: 12px;
	padding-left: 30px;
}
.countdown li{
	display: inline;
	padding-top: 12px;
	padding-left: 10px;
}
/*产品价格*/
.price{
	height: 98px;
	background: #f4f6fa;
	color:#e02b41;
	overflow: hidden;
}
.sell_price{
	margin-top: 14px;
}
.sell_price .fh{
	font-size: 17px;
}
.sell_price .pri_num{
	font-size: 28px;
}
.sell_adv{
	line-height: 22px;
	margin-top: 12px;
}
.sell_adv .sm{
	float: left;
	display: inline-block;
	width:72px;
	height: 22px;
	line-height: 22px;
	background: #f2eaef;
	text-align: center;
	border-radius: 2px;
}
.sell_adv .adv{
	float: left;
	color:#595959;
	margin-left: 13px;
}
.sell_adv a{
	margin-left: 12px;
	color:#27b3ff;
}
/*配送服务*/
.property_service{
	height: 116px;
	border-bottom: 1px dashed #dedede;
	color:#8c8c8c;
}
.property_service .zc{
	height: 16px;
	margin-top: 19px;	
}
.property_service dt{
	display: inline-block;
	width:65px;
	float: left;
	color:#8c8c8c;
	padding-left: 10px;
	box-sizing: border-box;
}
.property_service dd{
	float: left;
	margin: 0 10px;
}
.property_service dd span{
	display: flex;
}
.gou{
	margin-right: 8px;
	display: inline-block;
	width:17px;
	height: 16px;
	background: url(../images/product/icon_zc.jpg) no-repeat 100% 100%;
}
.property_service .ps_service{
	height: 16px;
	margin-top: 22px;
}
.ps_service .text{
	color:#262626;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ps_service .city_detail{
	margin-left: 12px;
	width:0;
	height: 0;
	border:5px solid #262626;
	border-bottom: 0;
	border-color: #262626 transparent #fff transparent;
}
.sh_service{
	margin-top: 12px;
}
.sh_service dd{
	display: flex;
}
.sh_service dd a{
	margin-left: 10px;
	display: flex;
	color:#27b3ff;
}
.sh_service .icon_kf{
	display: inline-block;
	width:17px;
	height: 16px;
	background: url(../images/product/icon_ky.jpg) no-repeat 100% 100%;
	margin-right: 3px;
}
/*颜色分类*/
.pro_color{
	height: 104px;
}
.dl_attr{
	margin-top: 20px;
	margin-bottom: -10px;
}
.css_dt{
	display: block;
	width:75px;
	float: left;
	color:#8c8c8c;
	padding-left: 10px;
	box-sizing: border-box;
	height: 42px;
	line-height: 42px;
}
.pro_color dd{
	float: left;
	width:565px;
}
.pro_color dd a{
	float: left;
	width:174px;
	height: 40px;
	border:1px solid #BFBFBF;
	color:#595959;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	background: #fff;
}
.pro_color dd img{
	width:32px;
	height: 32px;
	margin-right: 6px;
}
/*花呗分期*/
.price_bystage{
	height: 55px;
}

.price_bystage dd{
	float: left;
	width:565px;
}
.price_bystage dd a{
	float: left;
	width:176px;
	line-height: 40px;
	border:1px solid #BFBFBF;
	color:#595959;
	font-size: 14px;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	background: #fff;	
	/*cursor: pointer;*/
	padding:6px 0;
	box-sizing: border-box;
}
.periods{
	display: block;
	line-height: 18px;
	text-align: center;
}
.rate{
	display: block;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #8c8c8c;
}
/*数量*/
.pro_num dl{
	height: 42px;	
	margin-bottom: 0;
}
.pro_num dd{
	height: 42px;
	display: block;
	float: left;
	width:565px;
}
.pro_num .counter{
	width:122px;
	height: 40px;
	position: relative;
}
.counter a{
	display: inline-block;
	position: absolute;
	top: 0;
	width:30px;
	height: 38px;
	background: #f7f7f7;
	border:1px solid #e7e7e7;
	text-align: center;
	line-height: 38px;
	font-size: 14px;
}
.counter .minus{
	left: 0;
	/*color: #fff;*/
}
.counter .add{
	right: 0;
	color: #000;
}
.counter .num{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 30px;
	width:60px;
	height: 38px;
	border: 1px solid #dedede;
	text-align: center;
	line-height: 38px;
	color:#595959;
}
/* 加入购物车 */
.add_shopcar{
	margin-top: 47px;
	margin-left: 10px;
	height: 56px;
}
.add_shopcar a{
	display: block;
	float: left;
	width:208px;
	padding:15px 0;
	line-height: 24px;
	font-size: 20px;
	border-radius: 3px;
	
	text-align: center;	
}
.add_shopcar .add_car{
	margin-right: 22px;
	background: #27b3ff;
	border:1px solid transparent;
	color:#fff;
}
.add_shopcar .add_car:hover{
	background: #23A0E5;
}
.add_shopcar .take_it{
	color: #27b3ff;
	background: #fff;
	border:1px solid #27B3FF;
}
.add_shopcar .take_it:hover{
	background:#EEF8FD ;
}

/* 产品主体部分 */
#main{
	min-height: 1358px;
	background: #f4f4f4;
}
/* 服务说明 */
.service_explain{
	overflow: hidden;
}
.service_cate{
	color:#000000;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 24px;
}
/* 为您推荐 */
.recommend{
	min-height: 448px;
}
.rcmd_cate{
	color:#000000;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 24px;
}
.recommend .tj_box{
	height: 338px;
	overflow: hidden;
}
.tj_box ul li{
	width:240px;
	height: 338px;
	background: #fff;
	float: left;
	margin-right: 10px;
}
.tj_box ul li:nth-child(5n){
	margin-right:0;
}
.tj_box ul li a{
	display: block;
	padding:30px 10px 5px;
	text-align: center;
}
.tj_box .tj_img img{
	width:180px;
	height: 180px;
}
.tj_box .tj_content{
	margin-top: 26px;
	line-height: 1.5;
}
.tj_content h3{
	font-size: 14px;
	color:#333;
	
}
.tj_content h4{
	color:#f14361;
	margin-top: 2px;
}
.limit{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tj_content p{
	margin-top: 8px;
	font-size: 16px;
	color: #e02b41;
}
.tj_content p span{
	font-size: 12px;
}
/* 底部 */
/* #footer{
	height: 245px;
	border-top:1px solid #f1f1f1;
	background: #fff;
} */